
.card {
    display: flex;
    flex-direction: row;
    /* overflow: hidden; */
    align-items: center;
    padding: 10px;
    width: 310px;
    height: 180px;
    border: none;
    border-radius: 20px;
    background-color: #A8A8A8;
    margin: 15px;
    transition: background-color .2s;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.637);
}

.card:hover{
    background-color: rgb(192, 192, 192);
}

.card h3 {
    color: rgb(34, 34, 34);
    font-size: 21px;
    text-decoration: none;
    text-align: right;
}

.card p {
    font-size: small;
    color: black;
    margin: 0;
    text-decoration: none;
    text-align: right;
}

.image{
    position: relative;
    object-position: center;
}
