.conteiner {
    display: flex;
    align-items: center;
    justify-content: end;
    background-image: url(../assets/backgroundForm-1comida.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

.conteinerForm {
    background-color: rgb(255, 255, 255);
    border: 2px solid #d56306;
    padding: 50px;
    width: 57%;
    height: 520px;
}

.conteinerForm h1 {
    font-size: 60px;
}

.containerTemperaments{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: auto;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
    color: #e4fbff;
}

.buttonTemperament{
    width: 15px;
    height: 15px;
    background-color: #d34d4b;
    border-color: #d34d4b;
    border-radius: 7px;
    color: white;
    font-size: 8px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerTemperament{
    gap: 5px;
    margin: 5px;
    background-color: #789ba3b0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 30px;
}

.buttonHome {
    text-decoration: none;
    background-color: rgb(255, 131, 59);
    font-size: 15px;
    font-weight: bold;
    border-color: rgb(255, 131, 59);
    padding: 10px 20px 10px 20px;
    margin: 10px;
    transition: background-color .2s;
    cursor: pointer;
    color: white;
}

.buttonHome:hover {
    font-weight: bold;
    color: white;
    border-color:rgb(236, 87, 0) ;
    background-color: rgb(236, 87, 0);
}


.borderDanger {
    border-color: red;
}

.danger {
    font-size: 10px;
    font-weight: bold;
    color: red;
}

.buttonCreate {
    text-decoration: none;
    font-family: Arial, sans-serif;
    background-color: var(--color-red);
    font-size: 15px;
    font-weight: bold;
    border-color: var(--color-red);
    padding: 10px 20px 10px 20px;
    margin: 10px;
    color: rgb(255, 224, 224);
}

.buttonCreate:hover {
    font-weight: bold;
    color: white;
    border-color:rgb(255, 3, 3) ;
    background-color: rgb(255, 3, 3);
}

.buttonCreateDisabled {
    text-decoration: none;
    font-family: Arial, sans-serif;
    background-color: rgb(133, 89, 89);
    font-size: 15px;
    font-weight: bold;
    border-color: rgb(133, 89, 89);
    padding: 10px 20px 10px 20px;
    margin: 10px;
    color: rgb(255, 224, 224);
}