.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/backgroundForm-1comida.jpg);
    background-position: center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.conteinerForm {
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    border: 5px solid #06AED5;
    padding: 50px;
    margin: 10px;
    width: 400px;
    height: 500px;
}

.conteinerForm button {
    justify-content: center;
}

.containerTemperaments{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: auto;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
    color: #e4fbff;
}

.buttonTemperament{
    width: 15px;
    height: 15px;
    background-color: #d34d4b;
    border-color: #d34d4b;
    border-radius: 7px;
    color: white;
    font-size: 8px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerTemperament{
    gap: 5px;
    margin: 5px;
    background-color: #789ba3b0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 30px;
}

.buttonHome {
    text-decoration: none;
    background-color: var(--color-white);
    font-size: 15px;
    font-weight: bold;
    border-color: var(--color-white);
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    margin: 10px;
}


.borderDanger {
    border-color: red;
}

.danger {
    font-size: 10px;
    font-weight: bold;
    color: red;
}

.buttonCreate {
    text-decoration: none;
    font-family: Arial, sans-serif;
    background-color: var(--color-red);
    font-size: 15px;
    font-weight: bold;
    border-color: var(--color-red);
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    color: rgb(255, 224, 224);
}

.buttonCreateDisabled {
    text-decoration: none;
    font-family: Arial, sans-serif;
    background-color: rgb(133, 89, 89);
    font-size: 15px;
    font-weight: bold;
    border-color: rgb(133, 89, 89);
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    color: rgb(255, 224, 224);
}