.conteiner {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    min-height: 100vh;
    background-image: url(../assets/backgroundForm-1comida.jpg);
    background-position: center center;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
}

.conteinerForm {
    width: 63%;
    min-height: 100vh;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: none;
    justify-content: center;
    align-items: center;
}

.wrapperText{
    padding: 5px;
    margin: 10px;
}

.wrapperText h1 {
    font-size: 60px;
    font-weight: 800;
    margin: 1px;
}

.wrapperText p {
    margin: 0;
}

form {
    margin: 15px;
    font-weight: 600;
}


input {
    font-size: 14px;
    padding: 5px;
    margin: 2px;
    border: 1.7px solid #FF9E23;
    border-radius: 18px;
    color: #b46804;
}


.containerTemperaments{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: auto;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
    color: #e4fbff;
}

.buttonTemperament{
    width: 15px;
    height: 20px;
    background-color: #d34d4b;
    border-color: #d34d4b;
    border-radius: 7px;
    color: white;
    font-size: 8px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.containerTemperament{
    gap: 5px;
    margin: 5px;
    background-color: #0892A5;
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 30px;
}

.buttonHome {
    width: 100px;
    font-family:'Fredoka', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    border: none;
    border-radius: 20px;
    border-color: rgb(255, 131, 59);
    padding: 10px 20px 10px 20px;
    margin: 10px;
    background-image: url(../assets/back.png);
	background-repeat: no-repeat;
	background-size: contain;
    background-color: #FF9E23;
    transition: background-color .2s;
    cursor: pointer;
    color: white;
}

.buttonHome:hover {
    font-weight: bold;
    color: white;
    border-color:rgb(236, 87, 0) ;
    background-color: rgb(236, 87, 0);
}


.borderDanger {
    border-color: red;
}

.danger {
    font-size: 10px;
    font-weight: bold;
    color: red;
}

.buttonCreate {
    width: 150px;
    height: 40px;
    text-decoration: none;
    font-family:'Fredoka', sans-serif;
    background-color: var(--color-red);
    font-size: 15px;
    font-weight: bold;
    border-color: var(--color-red);
    padding: 10px 20px 10px 20px;
    margin: 10px;
    color: rgb(255, 224, 224);
    border: none;
    transition: background-color .2s;
    cursor: pointer;
}

.buttonCreate:hover {
    font-weight: bold;
    color: white;
    border-color:rgb(186, 2, 2) ;
    background-color: rgb(186, 2, 2) ;
}

.buttonCreateDisabled {
    width: 150px;
    height: 40px;
    text-decoration: none;
    font-family:'Fredoka', sans-serif;
    background-color: rgb(133, 89, 89);
    font-size: 15px;
    font-weight: bold;
    border-color: rgb(133, 89, 89);
    padding: 10px 20px 10px 20px;
    margin: 10px;
    color: rgb(255, 224, 224);
    border: none;
}