
.wrapperAll {
    display: grid;
}

.conteinerHeader {
    display: flex;
    flex-direction: row;
    background-color: #FF9E23;
    align-content: center;
    justify-content: center;
    height: 130px;
    width: 100%;
}

.conteinerHeader .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: aqua;
}

.conteinerHeader h1 {
    font-family:'Fredoka', sans-serif;
    font-size: 70px;
    font-weight: 700;
    color: white;
}

.conteinerHeader p {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: white;
}

.conteinerHeader img {
    width: 9rem;
    height: 9rem;
    object-fit: contain;
    margin: 0.5rem;
    position: relative;
}

.newDog {
    width: 55%;
}

.buttonCreated {
    text-decoration: none;
    background-color: var(--color-red);
    font-size: 15px;
    font-weight: bold;
    border: none;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    transition: background-color .2s;
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    color: rgb(242, 255, 217);
    float: right;
}

.buttonCreated:hover {
    font-weight: bold;
    border-color:rgb(17, 9, 88) ;
    background-color: rgb(17, 9, 88);
}

.conteinerBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    background: white;
}
 
.conteinerFiltersOrders {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 20px;
    margin: 10px;

}

.conteinerRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.conteinerCards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}

select {
    font-size: 14px;
    padding: 8px;
    border: 2px solid #FF9E23;
    border-radius: 18px;
}

.buttonRefresh {
    text-decoration: none;
    background-color: #FF9E23;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    transition: background-color .2s;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    color: #DC7D04;
    font-family: 'Fredoka', sans-serif;
}

.buttonRefresh:hover {
    font-weight: bold;
    color: white;
    border-color:rgb(236, 87, 0) ;
    background-color: rgb(236, 87, 0);
}
