.paginationConteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 15px;
    width: 100%;
    margin: 10px;
  }
  
  .paginationPrev {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    height: 45px;
    width: 55px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color .2s;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #FFAA31;;
  }

  .paginationConteiner a {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 55px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color .2s;
    border: 1px solid #FFAA31;
    cursor: pointer;
  }

  .x {
    color: #FFAA31;
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    transition: background-color .2s;
    border: 1px solid #FFAA31;
    cursor: pointer;
  }

  .paginationNext {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255); 
    height: 45px;
    width: 55px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color .2s;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #FFAA31;
  }


  .paginationConteiner a.active {
    color: white;
    background-color: var(--color-celeste-claro);
    border: 1px solid var(--color-celeste-claro);
  }
  
  .disabledPrev {
    opacity: 0.3;
    color: rgb(0, 0, 0);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgb(163, 163, 163);
  }

  .disabledNext {
    opacity: 0.3;
    color: rgb(0, 0, 0);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .paginationConteiner a:hover{
    color: white;
    background-color: rgb(236, 87, 0);
  }