.paginationConteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    background-color: var(--color-blue);
    /* background-color: rgb(184, 245, 70); */
  }
  
  .paginationConteiner a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(224, 223, 223); 
    height: 40px;
    width: 40px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color .2s;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
  }

  .paginationConteiner a.active {
    background-color: var(--color-celeste-claro);
    border: 1px solid turquoise;
  }
  
  .disabled {
    opacity: 0.2;
  }
  
  .paginationConteiner a:hover:not(.active){background-color: rgb(118, 118, 131);}